body {
  margin-top: 100px;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url(./propose.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
 
}
.scrolling-text-container {
  width: 350px;
  white-space: nowrap;
  padding: 10px;
  margin-top:4600px;
  margin-bottom: 50px;
  display:flex ;
}
#songSelect{
  border: solid 2px rgb(64, 190, 222);
  border-radius: 89px;
  position: relative;
  bottom: 40px;
  background-color: rgba(80, 64, 64, 0.3);
  color: #ffffff;
  background-color: #260961;
}

.scrolling-text {
  overflow: hidden; /* Hide overflow text */
  padding: 2px;
  font-size: 25px;
  color: rgb(81, 255, 0);
  border-right: 2px solid rgb(68, 255, 0); /* Cursor effect */
  white-space: nowrap; /* Prevent line breaks */
  margin: 0 auto; /* Center the text */
  letter-spacing: .15em; /* Adjust letter spacing */
  animation: typing 4s steps(40) infinite alternate; /* Apply the typing animation */
  display: inline-block;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 110%;
  }
}

@keyframes scrollRight {
  from {
    transform: translateX(30%);
  }
  
  to {
    transform: translateX(-130%);
  }
}

.envelope {
  margin-top: 65px;
  position: relative;
  cursor: pointer;
  
}

.back {
  position: relative;
  width: 250px;
  height: 200px;
  background: #6247aa;
}
.front {
  position: absolute;
  border-right: 130px solid #815ac0;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  height: 0;
  width: 0;
  top: 0;
  left: 120px;
  z-index: 3;
}
.front:before {
  content: "";
  position: absolute;
  border-left: 130px solid #815ac0;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  height: 0;
  width: 0;
  top: -100px;
  left: -120px;
}
.front:after {
  content: "";
  position: absolute;
  border-bottom: 105px solid #7251b5;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
  height: 0;
  width: 0;
  top: -5px;
  left: -120px;
}
.top {
  position: absolute;
  border-top: 105px solid #9163cb;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
  height: 0;
  width: 0;
  top: 0;
  transform-origin: top;
  transition: 0.8s;
}
.envelope:hover .top {
  transform: rotateX(160deg);
  transition: 1s;
}
.letter {
  position: absolute;
  background: rgb(45, 34, 34);
  width: 230px;
  height: 220px;
  top: 10px;
  left: 10px;
  transition: 0.5s;
  opacity: 0%;
}
.envelope:hover .letter {
  opacity: 100%;
  transition-delay: 1s;
  transform: translateY(-180px);
  z-index: 2;
}
.text1 {
  position: absolute;
  color: rgb(15, 219, 255);
  font-family: sans-serif;
  top: -50%;
}
.text {
  text-align: center;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  font-weight: bold;
  color: black;
  position: relative;
  top: -20px;
  left: 20px;
}

/*---heart -----*/
.heart {
  background-color: red;
  height: 70px;
  width: 70px;
  position: relative;
  top: 20px;
  left: 20px;
  transform: rotate(-45deg);
  box-shadow: -5px 10px 90px red;
  animation: untoldcoding 0.8s linear infinite;
}

@keyframes untoldcoding {
  0% {
    transform: rotate(-45deg) scale(1.05);
  }
  70% {
    transform: rotate(-45deg) scale(1);
  }
  100% {
    transform: rotate(-45deg) scale(0.8);
  }
}
.heart:before {
  content: "";
  position: absolute;
  height: 70px;
  width: 70px;
  background-color: red;
  top: -40px;
  border-radius: 50px;
}
.heart:after {
  content: "";
  position: absolute;
  height: 70px;
  width: 70px;
  background-color: red;
  right: -40px;
  border-radius: 50px;
}


.container {
  max-width: 500px;
  margin-bottom: 80px;
  padding-bottom: 10px;
  background-color: rgba(80, 64, 64, 0.3); /* Add a semi-transparent background to make the content readable */
  border-radius: 30px;
  border: 2px black double;
  padding: 10px;
}
.audio_container{
  background-color: rgb(150, 1, 115);;
  margin-bottom: 100px;
  color: crimson;
  padding: 20px;
   border-radius: 15px;
}
header {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}
h3{
  color: #18d3f4;
}

main {
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
}
button {
  padding: 10px;
  content: "click me";
  border: #18d3f4 solid 2px;
  border-radius: 8px;
  color: white;
  margin-bottom: 50px;
  position: relative;
  left: 65px;
  background-color: rgba(80, 64, 64, 0.3);
}
button:hover{
  color: #260961;
  background-color: aqua;
}



.container1 {
  text-align: center;
  margin-top: 50px;
}

.image-container1 {
  display: inline-block;
  overflow: hidden;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
}

img {
  height: 300px; /* Set a fixed height */
  width: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto; /* Center the image horizontally */
  border-radius: 9px;
  border: #18d3f4 3px solid;
}


select {
  padding: 10px;
  font-size: 16px;
  background-color: rgba(80, 64, 64, 0.3);
  border: #18d3f4 solid 2px;
  color: rgb(255, 255, 255);
  margin-bottom: 50px;
}
option:hover{
  background-color: black;
}

@media(min-aspect-ratio:16/9){
  .back-vid{
    width: 100%;
    height: auto;
  }
}
@media(max-aspect-ratio:16/9){
  .back-vid{
    width: auto;
    height: 100%;
  }
}
.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
 background-color: black;
 
}
video {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
  border-top: #18d3f4 solid 4px; 
  border-bottom: #2df600 solid 4px; 
}
